# Data Science Tools and Ecosystem

## Introduction to Data Science

### __Objectives:__

* Learn creating markdown cells 
* List data science languages and libraries
* Perform simple arithmetic expressions
* Create a public github repository
* List tools used in data science

## Data Science Languages

1. SQL
2. Python
3. R
4. Java
5. C
6. C++
7. Matlab
8. Julia
9. Lisp
10. Scala
11. Ruby 
12. Javascript

## List of Data Science Libraries

1. Python
2. Pandas
3. NumPy
4. Matplotlib
5. Seaborn
6. Sci-kit learn
7. Tensor Flow
8. PyTorch
9. Keras
10. Vegas
11. ggplot2

## Table of Tools used in Data Science

In [ ]:
| Data Science Tools |
|:------------------:|
| fiddler | 
| jupyter notebook |
| github |
| IBM Watson Open Scale |
| Cognos |
| Apache |
| Hadoop |
| PixieDust |
| Big ML |
| Tableau | 
| Hue |
| Tensorflow Lite |
| MongoDB |
| NodeRED |
| Kubeflow |
| Prometheus |
| ModelDB |
| IBM Fairness 360 | 
| IBM Adversarial 360 Toolbox |
| Gitlab |
| Bitbucket |
| Kylo |
| ODPi Egeria |
| Datameer |

### Below are a few examples of evaluating arithmetic expressions in Python

$ E = mc^2 $

$ 5 + 3 = 8 $

$ 20 - 10 = 10 $

### This is a simple arithmetic expression to multiply and then add integers

In [13]:
(30*40) + 75

1275

### This will convert 200 minutes to hours by dividing by 60

In [14]:
mins = 1440

In [15]:
mins/60

24.0

## Author
   Mahrukh Khan